/* Add Garm Form Code Starts Here */

/* Select Job and Type */
.InventoryResults #addTitle{
    width: 65%;
    height: 65px;
    border-top: 2px grey solid;
    border-right: 2px grey solid;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom: 0px;
    overflow: hidden;
    font-size: 35px;
    padding-top: 30px;
    text-align: left;
    padding-left: 20px;
}

.InventoryResults .InvForm{
    width: 100%;
    float: right;
    border-right: 2px solid grey;
    border-bottom-right-radius: 30px 30px;
}

.InventoryResults .InvForm .SelectGarmentType{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    border-right: 1px grey solid;
}

.InventoryResults .InvForm #selectGarmTypeInst{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.InventoryResults .InvForm .SelectJob{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 0px;
    height: 50px;
}

.InventoryResults .InvForm .SelectJob .Job{
    margin-bottom: 0px;
    font-size: 25px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}

.InventoryResults .InvForm .SelectGarment{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 0px;
}

.InventoryResults .InvForm .SelectGarment select, option{
    margin-bottom: 0px;
    font-size: 25px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}

/* Garment Information */
.InventoryResults .InvForm .GarmentInfo{
    height: 70%;
    width: 55%;
    float: right;
}

.InventoryResults .InvForm .GarmentInfo #garmInfoInst{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.InventoryResults .InvForm .GarmentInfo .FirstRow{
    width: 100%;
    height: 70px;
}

.InventoryResults .InvForm .GarmentInfo #garmnumber{
    width: 45%;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #garmnumber input{
    height: 30px;
    width: 90%;
    text-align: center;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm .GarmentInfo #rfid{
    width: 45%;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #rfid input{
    height: 30px;
    width: 90%;
    text-align: center;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm .GarmentInfo .SecondRow{
    width: 100%;
    height: 75px;
}

.InventoryResults .InvForm .GarmentInfo #slot{
    width: 33%;
    float: left;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #slot input{
    width: 90%;
    height: 30px;
    font-size: 29px;
    text-align: center;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm .GarmentInfo #conv{
    width: 33%;
    float: right;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #conv input{
    width: 90%;
    height: 30px;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #garmlocation{
    width: 33%;
    float: right;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo #garmlocation input{
    width: 90%;
    height: 30px;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow{
    width: 100%;
    height: 80px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #missing{
    width: 25%;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #missing input{
    width: 80%;
    height: 30px;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #loaned{
    width: 25%;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #loaned select{
    font-size: 20px;
    width: 70%;
    text-align: center;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #altid{
    width: 25%;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.InventoryResults .InvForm .GarmentInfo .ThirdRow #altid input{
    width: 80%;
    height: 30px;
    font-size: 29px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align: center;
}


/* Employee Assigment */
.InventoryResults .InvForm .AssignEmployee {
    font-size: 20px;
    width: 70%;
    float: right;
    text-align: center;
}

.InventoryResults .InvForm .AssignEmployee #employeeTitle{
    font-size: 30px;
}

.InventoryResults .InvForm .AssignEmployee #assigned{
    width: 15%;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 40%;
}

.InventoryResults .InvForm .AssignEmployee #assigned select{
    font-size: 20px;
    width: 70%;
    text-align: center;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm .AssignEmployee #enterEmp{
    float: left;
    margin-left: 27%;
    margin-top: 0px;
}

.InventoryResults .InvForm .AssignEmployee #enterEmp input{
    float: left;
    text-align: center;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    height: 35px;
}

.InventoryResults .InvForm .AssignEmployee #fullname{
    float: left;
    margin-left: 30px;
    margin-top: 0px;
}

.InventoryResults .InvForm .AssignEmployee #fullname input{
    float: left;
    text-align: center;
    height: 35px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.InventoryResults .InvForm #saveGarm{
    float: right;
    height: 60px;
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: royalblue;
    border-bottom-left-radius: 30px 35px;
    border-bottom-right-radius: 30px 35px;
    border-top-right-radius: 30px 35px;
    border-top-left-radius: 30px 35px;
    margin-right: 30px;
}

