{% extends "app/layout.html" %}

{% block maincontent %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="../static/app/content/index.css">
</head>

    <div class="Title">
        <div class="TitlePicture">
            <img src="..\static\app\Images\WHITE_logo.gif">
        </div>
        <div class="TitleText">
            <div id="GMS">White Conveyors</div>
                <br>
            <div id="White">Inventory Management System</div>
        </div>
    </div>



<!--
<script language="javascript">
document.onmousedown=disableclick;
status="Right Click Disabled";
function disableclick(event)
{
  if(event.button==2)
   {
     alert(status);
     return false;    
   }
}
</script>
-->

    
{% endblock %}